-e svn+http://code.djangoproject.com/svn/django/trunk/#egg=Django
django_extensions
django_debug_toolbar
django-staticfiles
django-sentry
-e git+ssh://salmon.dokterbob.net/var/git/django-webshop.git#egg=django-webshop
